<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="container error-container">
        <h1 class="error-message">Usuario y/o contraseña incorrectos</h1>
        <a href="{% url 'index' %}" class="btn-register btn-return">
            Volver
        </a>
    </div>
</body>
</html>
