<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/sidebar_styles.css' %}">
    <title>Mensajes</title>
</head>

<body>
    <!-- Importar el sidebar -->
    {% include 'web_UDI/partials/sidebar.html' %}

    <!-- Contenido principal -->
    <div class="main-content">
        <h1>Bienvenido a Página 1</h1>
        <a href="{% url 'posting' %}">Publicar un nuevo mensaje</a>
        
        <div class="mensajes">
            {% for mensaje in mensajes %}
                <div class="mensaje">
                    <img src="{{ mensaje.usuario.foto_de_perfil.url }}" alt="Foto de perfil" width="50" height="50">
                    <p><strong>{{ mensaje.usuario.apodo }}</strong></p>
                    <p>{{ mensaje.contenido }}</p>
                    <form action="{% url 'delete' mensaje.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Eliminar</button>
                    </form>
                </div>
            {% empty %}
                <p>No hay mensajes aún.</p>
            {% endfor %}
        </div>
    </div>
</body>
</html>