@font-face {
    font-family: 'Brittany';
    src: url('../fonts/BrittanySignature.ttf') format('truetype');
}
body {
    background-color: #fed5ee;
    font-family: 'Arial', sans-serif;
}
#logo-usm {
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: auto;
    margin: 10px;
}

.container {
    max-width: 400px;
    margin: 100px auto;
    text-align: center;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

h1 {
    font-family: 'Brittany', sans-serif;
    color: #dc7fb8;
}

input {
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: 80%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #f3a6bc;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
